@charset "UTF-8";
body {
  letter-spacing: 1px;
  color: #333;
}

.wrap {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  list-style: none;
}

a:hover {
  opacity: 0.8;
}

.btn {
  width: 200px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
}

.background-color {
  background-color: #391e88;
}

.nav {
  width: 100%;
  margin: 0 auto;
  color: white;
  font-family: "Montserrat";
  position: fixed;
  z-index: 3333;
  height: 80px;
}

.nav .container {
  display: flex;
  max-width: 1380px;
}

.nav .container .nav-left {
  font-size: 17px;
  padding-top: 26px;
  margin-right: auto;
  padding-left: 20px;
}

.nav .container .nav-left a {
  color: white;
}

.nav .container .nav-right {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .nav .container .nav-right {
    display: none;
  }
}

.nav .container .nav-right a {
  padding-top: 30px;
  display: inline-block;
  margin-right: 17px;
  padding-bottom: 2px;
}

.nav .container .nav-right a:hover {
  border-bottom: 1px solid white;
}

.nav .container .nav-right a li {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.nav .container .nav-right-sp {
  display: none;
}

.nav .container .nav-right-sp:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav .container .nav-right-sp {
    margin-left: auto;
    display: block;
    margin-right: 22px;
    margin-top: 28px;
  }
}

.nav .container .nav-right-sp .nav-button .nav-button-item {
  width: 50px;
  height: 3px;
  background-color: #fff;
  margin-top: 5px;
  border-radius: 4px;
  transition: all 0.3s;
}

.nav-button.on #nav-button-1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.nav-button.on #nav-button-2 {
  opacity: 0;
}

.nav-button.on #nav-button-3 {
  transform: rotate(-45deg) translate(7px, -8px);
}

.nav-sp-show.open {
  display: none;
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 767px) {
  .nav-sp-show.open {
    display: block;
  }
}

.nav-sp-show.close {
  display: none;
}

.nav-sp-show {
  height: 100vh;
  background: linear-gradient(#642390, #19074A);
  display: none;
  z-index: 444444;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.nav-sp-show #nav-delete-button-item1 {
  transform: rotate(45deg) translate(2px, 0);
}

.nav-sp-show #nav-delete-button-item2 {
  transform: rotate(-45deg) translate(2px, 0);
}

.nav-sp-show ul {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-sp-show ul a {
  color: white;
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
}

.nav-sp-show ul a:hover {
  opacity: .8;
}

.nav-sp-show ul a li {
  margin-bottom: 20px;
}

.nav .container .nav-right-sp {
  display: none;
}

.nav .container .nav-right-sp:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav .container .nav-right-sp {
    display: block;
    margin-top: 28px;
    position: fixed;
    left: 83%;
    z-index: 5555555555555555;
  }
}

.top {
  height: 240px;
  background-image: url(../img/hero.png);
  background-size: cover;
  font-family: "Montserrat";
  color: white;
  background-position: 60% 0;
}

@media screen and (max-width: 767px) {
  .top {
    height: 190px;
  }
}

.top h2 {
  font-size: 36px;
  font-weight: bold;
  padding-top: 106px;
  text-align: center;
  font-family: "Montserrat";
}

@media screen and (max-width: 767px) {
  .top h2 {
    padding-top: 93px;
    font-size: 30px;
  }
}

.top h2 br {
  display: none;
}

@media screen and (max-width: 767px) {
  .top h2 br {
    display: block;
  }
}

.top .top-lead {
  padding-top: 5px;
  text-align: center;
  padding-bottom: 48px;
  font-size: 14px;
  font-family: "Montserrat";
}

@media screen and (max-width: 767px) {
  .top .top-lead {
    font-size: 13px;
  }
}

.top .top-lead br {
  display: none;
}

@media screen and (max-width: 767px) {
  .top .top-lead br {
    display: block;
  }
}

.top .top-button-wrapper {
  margin: 0 auto;
  width: 220px;
  height: 60px;
  border-radius: 30px;
}

.top .top-button-wrapper:hover {
  background-color: #fff;
  transition: 0.5s;
}

.top .top-button-wrapper .top-button {
  text-align: center;
  width: 220px;
  height: 60px;
  margin: 0 auto;
  border: 1px solid #fff;
  line-height: 59px;
  color: #fff;
  border-radius: 30px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.top .top-button-wrapper .top-button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  transition: 0.5s;
  opacity: 1;
}

.pankuzu {
  background-color: #f7f7f7;
  height: 45px;
  width: 100%;
}

.pankuzu .container {
  max-width: 1100px;
}

.pankuzu .container .pankuzu-text {
  font-size: 12px;
  font-family: "Montserrat";
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .pankuzu .container .pankuzu-text {
    padding-left: 20px;
  }
}

.pankuzu .container .pankuzu-text span {
  color: #391e88;
}

.works {
  padding-top: 70px;
  padding-bottom: calc(110px - 28px);
}

@media screen and (max-width: 767px) {
  .works {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.works .container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 20px;
}

@media screen and (max-width: 767px) {
  .works .container {
    padding-left: 0;
  }
}

.works .container .works-item {
  width: 32%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .works .container .works-item {
    width: 80%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 575px) {
  .works .container .works-item {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.works .container .works-item .works-bottom .works-text {
  font-family: 'Montserrat';
  padding-bottom: 18px;
  margin-top: -10px;
}

@media screen and (max-width: 767px) {
  .works .container .works-item .works-bottom .works-text {
    padding-bottom: 14px;
  }
}

.contact {
  width: 100%;
  background-color: #f7f7f7;
  padding-bottom: 79px;
}

.contact .container h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 34px;
  color: #391e88;
  text-align: center;
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .contact .container h2 {
    font-size: 30px;
  }
}

.contact .container .contact-lead {
  text-align: center;
  font-family: "ヒラギノ角ゴシック";
  font-weight: 600;
  color: #391e88;
  padding-top: 5px;
  padding-bottom: 35px;
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .contact .container .contact-lead {
    font-size: 13px;
  }
}

.contact .container .contact-text {
  text-align: center;
  font-size: 15px;
  font-family: "ヒラギノ角ゴシック";
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .contact .container .contact-text {
    font-size: 14px;
  }
}

.contact .container .contact-text br {
  display: none;
}

@media screen and (max-width: 767px) {
  .contact .container .contact-text br {
    display: block;
  }
}

.contact .container .contact-btn {
  text-align: center;
  margin-top: 31px;
}

footer {
  height: 173px;
  background-color: #000;
  color: #fff;
  padding-top: 60px;
  margin-right: -30px;
}

@media screen and (max-width: 767px) {
  footer {
    height: 185px;
  }
}

footer .container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

footer .container ul {
  margin-top: 20px;
}

footer .container .footer-nav {
  display: flex;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  footer .container .footer-nav {
    display: block;
    margin-left: 20px;
  }
}

footer .container .footer-nav .footer-nav-top {
  display: flex;
}

footer .container .footer-nav .footer-nav-bottom {
  display: flex;
}

footer .container .footer-nav li {
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  footer .container .footer-nav li {
    margin-bottom: 20px;
  }
}

footer .container .footer-nav li:hover {
  border-bottom: 1px solid white;
}

footer .container .footer-nav li a {
  text-decoration: none;
  color: white;
}

footer .container .copyright {
  font-family: "Montserrat";
  font-size: 10px;
  text-align: center;
  color: #a798b7;
  margin-top: 22px;
}

@media screen and (max-width: 767px) {
  footer .container .copyright {
    margin-top: 10px;
  }
}

#footer-nav-hide {
  display: none;
}

@media screen and (max-width: 767px) {
  #footer-nav-hide {
    display: block;
  }
}
